!!!5
head
  title #{description}
  link(href="css/foresight.css", type="text/css", rel="stylesheet")
  // js('foresight.coffee')
body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.brand.clearfix(href="#") Kujua Foresight
  #app
